<div class="span12">
  <div style="text-align:center">
    <div class="new_image_holder">
      <div class="span12">
        <div class="new_image_title">
          Lisa lurees' latest work:</br>
          <div class="new_title">
            <% if @new_painting.present? %>
              <%= link_to @new_painting.title, painting_path(@new_painting) %>
            <% else %>
              Sorry no painting available
            <% end %>
          </div>
        </div>
      </div>
      <div class="span1" style="padding-top:40%; padding-bottom: 55%;"><a id="0" class="btn btn-inverse"><i class="icon-white icon-circle-arrow-left"></i></a></div>
      <div class="span10 new_image">
        <% if @new_painting.present? %>
          <%= link_to (image_tag @new_painting.image_url(:home), id: "mainImage", alt: "'#{@new_painting.title}', Artist: Lisa Luree", title: "'#{@new_painting.title}', Artist: Lisa Luree"), painting_path(@new_painting) %>
        <% else %>
          Sorry no painting avalable
        <% end %>
      </div>
      <div id="test">TESTIN</div>
      <div class="span1"><a id="1" class="btn btn-inverse"><i class="icon-white icon-circle-arrow-right"></i></a></div>
    </div>
  </div>
</div>
