<%= content_for :sidebar do %>
 sidebar!
<% end %>

<div style="color:red">
  <div style="text-align:center">
    <h1>
      BoneDiva
    </h1>
  </div> 

  <div style="color:black">
    <div style="text-align:center">
      <%= link_to 'ACEO Web Page', "http://www.aceo.com" %>
    </div>
  </div>

</div>
