
<%= content_for :sidebar do %>
  <div style="color:red">
    <%= link_to 'BoneDivas Website', 'http://www.lisaluree.com'%>
  </div>
<% end %>

<div>
  <div style=text-align:center>
    <div style=color:green>
      <h1>
        About Bonediva
      </h1>


	Bonediva, otherwise known as Lisa Luree Zerr is a artist....
	

  </div>
</div>
