<div style="color: #A00000">
  <div style="text-align:center">
    <h1>
      BoneDiva
    </h1>
  </div>

  <div style="color:black">
    <div style="text-align:center">
      <%= link_to 'ACEO Web Page', "http://www.lisaluree.com", :target => "_blank"  %>
    </div>
  </div>

</div>

<div id="homeBox">
<h2>Great New Images!</h2>
</br>
<div class="row-fluid">
    <div class="displayHomeImg">
      <%= render partial: "products/display_products" %> 
    </div>
  </div>
    </br>
</div>

