<div class="row-fluid hcont">
  <% if @new_painting.present? %>
    <div class="span12">
      <div id="home_image">
        <%= render partial: "main/new_image"%>
      </div>
    </div>
  <% end %>
  <div>
    <div class="span12">
        <div class="span12" style="text-align:center">
          <%= link_to "Lisa's for sale artwork", products_path, style: "color: red"%>
        </div>
        <div class="span12">
          <div id="sc_box">
            <%= render partial: "products/display_products" %>
          </div>
        </div>
    </div>
  </div>
  <div>
    <div class="span12">
      <div id="blogs-box">
        <%= render partial: "main/blog_posts" %>
      </div>
    </div>
  </div>
</div>
