  <% if @new_painting.present? %>
    <div>
      <%= render partial: "main/new_image"%>
    </div>
  <% end %>
    <div class="span7 offset5">
      <%= link_to "Lisa's for sale artwork", products_path%>
    </div>
    <div class="scroll_box">
        <%= render partial: "products/display_products" %>
    </div>


    <div class="span12">
      <%= render partial: "main/blog_posts" %>
    </div>

