*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
config/initializers/fog.rb
config/s3_credentials.yml
public/uploads/
public/.DS_Store
lib/carrierwave/storage/fog.rb
public/assets/*

