<div class="row-fluid">
  <div class="span12">
    <div class="blog_post_box">
      <div class="row-fluid">
        <div class="span12">
          <div class="blog-title">
            <%= @blog_post.title %>
            <div style="float:right"><%= @blog_post.created_at.time%></div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <div id="blog-body">
            <p><%= @blog_post.body %></p>
            <%= link_to (image_tag @blog_post.image_url(:standard)), bp_image_path(@blog_post) %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
