<div class="row-fluid">
        <div class="span12">
          <div class="blog-title">
            <%= @blog_post.title %>
            <div style="float:right"><%= @blog_post.created_at.time%></div>
          </div>
        </div>

          <div class="span12">
            <div id="blog-body">
              <p><%= @blog_post.body %></p>
              <%= image_tag @blog_post.image_url(:standard) %> 
            </div>
          </div>
</div>
