
<div id="mid_component"> 
  <div class="row-fluid">
    <div class="main-display">
      <div class="span6 offset3">
      <%= image_tag @blog_post.image_url(:standard) %>
    </div>
    </div>
  </div>
</div>
