Blog posts

<div class="span10">
  <div id="blog_posts_box">
    <div class=span12">
      <div class="blog-posts">
        <table>
          <% @blog_posts.each do |post| %>
            <tr class="<%= cycle('oddrow', 'evenrow')-%>">
              <td>
                <div id="blog_post">
                  <div class="span12">
                    <div class="blog_header">
                      <div class="blog-post-title">
                        <div class="span7">
                          <%= link_to post.title, blog_post_path(post)%>
                        </div>
                      </div>
                      <div class="date">
                        <div class="span4">
                          <%= post.created_at%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="span8">
                    <div id="blog_body">
                      <div class="span8">
                        <%= post.body %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </div>
  </div>
</div>
