<div id="mid_component">
  <div class="row-fluid">
    <div class="span12">
      <div class="paintings-holder"> 
        <% @paintings.each do |paint| %>
            <div class="image">
          <div class="span3">
              <div class="span12">
                <%= link_to image_tag(paint.image_url(:thumb), class: "painting1"), painting_path(paint) %>
              </div>
              <div class="span6">
                 <div class="user-link">
                      Image Posted by: <%= link_to truncate(paint.user.username, length: 9), user_path(paint.user) if paint.user.present? %>
                 </div>
              </div>
              <div class="span12">
                <div class="admin-links">
                  
                  <% if is_admin? %>
                     <%= button_to 'Delete', paint, data: {confirm: "Are you sure?", method: :delete, remote: true, class: "button1"}  %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> 
