
<div style="color:red">
  <div style="text-align:center">
    <h1>
      Paintings Of All Users
    </h1>
  </div>

<div id="mid_component">
  <% @paintings.each do |p| %>
    <div>
      <div>
        Title: <%= p.title %>
      </div>
      <div>
        <%= link_to image_tag(p.image_url(:thumb)), painting_path(p) %>
      </div>
      <% if p.user_id.to_i != 0 # delete this after first few pics are deleted %> 
        <div>
          Image Posted by: <%= link_to @user.username, user_path(@user) %>
        </div>
      <% else %>
        <div>
          This Painting has user_id = 0 and needs to be deleted.
        <div>
      <% end %>
    </div>
    </br>
    </br>
    </br>
  <% end %>
<div>
  
