


<div style="color:red">
  <div style="text-align:center">
    <h1>
      User List
    </h1>
  </div>
</div>
 



  <div id="mid_component">
    A Gay list of all the users
    <br/>
    <div>
      <% @users.each do |u| %>
          <ul>
            <li> <%= u.name %>: </li> 
            <li> <%= link_to u.username, user_path(u) %> </li>
            <% if is_admin? %>
              <%= link_to "delete", u, :method => :delete, :confirm => "Are you sure?" %>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
