<% content_for :sidebar do %>
  <div style="text-align:center">
    <h3> Sign Up</h3>
  </div> 
<% end %>


<div style="text-align:center">
  <div style="color:red">
    <h1>
      Create a user it will be awesome
    </h1>
  </div>
</div>

<div id="mid_component">
  <%= render partial: "users/user_form" %> 
  <%= render partial: "avatars/form" %>
</div>
