<% content_for :sidebar do %>
<% end %>

  <div style="text-align:center">
    <div style="color:red">
      <h1>
        Sign Up
      </h1>
    </div>
  </div>

  <div class="mid_component">
    <div class="user-form-container">
      <%= render partial: "users/user_form" %> 
    </div>
  </div>
