<div style="color:grey">
  <div class="span12">
    <h3>
      Purchase Failed
    </h3>
  </div>
</div>
<div class="span12">
  We are sorry, the order transaction did not go through. We are gratefull for you're intrest
  in purchasing this painting. Please Email 
  <div style="color:red">
    <%= link_to "bonediva@gmail.com", "#", style: 'color:red'%>
  </div>
</div>

