<div class="mid_component">
  <div class="row">
    <div class="pull-right">Created On: <%= @order.civil_created %></div>
  </div>
  <%= render "charges/show_order" %>
  <%= render "orders/shipping_info" %>

</div>
