<h3>
  <div style="color:red">
<div class="span4">Name</div>
<div class="span4">price</div>
</div>
</h3>
  <% @cart_items.each do |item| %>
      <h3>
        <div class="span4"><%= item.name %></div>
        <div class="span4"><%= number_to_currency item.price %></div>
      </h3>
      <div class"span12">
        <%= button_to 'remove', @cart_item, data: { confirm: "Do you want to delete #{item.name}?", method: :delete, remote: true } %>
      </div>
  <% end %>

        <%= button_to "Checkout", new_user_cart_order_path(current_user, current_user.carts.last) %>
