<div>
  hello <%= "#{ User.name}" %> this is the picture show page
</div>
<div>
  picture should show here</br>
  title: 
  <%= @picture.title %>
  </br>
  description: 
  </br>
  <%= @picture.description %>
  </br>
  image: 
  </br>
  <%= image_tag @picture.image_url %>
</div>
