v style="text-align:center">
    <h3> Sign Up</h3>
  </div>
<% end %>


<div style="text-align:center">
  <div style="color:red">
    <h1>
 
     Andrews Text
    </h1>
  </div>
</div>

<div id="mid_component">
  <%= render "user_form" %>
</div>

