/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */
/* --- Top Bar --- */

#top_bar {
  top: 0px;
  width: 100%;
  position: fixed;
  margin:0px auto;
  border-bottom:1px solid #000;
  background:#2D2D2D;
  display:inline-block;
  z-index: 11;
}

#top_bar p {
  margin:3px;
  display:inline-block;
  float:right;
  text-shadow:-1px 1px 1px #000;
  z-index: 10;
}

#top_bar p.left {
  position: relative;
  float: left;
  left: 60px;
  z-index:-100;
  z-index: 9;
}

#top_bar p.right {
  position: relative;
  float: right;
  right: 60px;
  z-index: 8;
}

#top_bar p, #top_bar a {
  font-size:12px;
  color:#fff;
  z-index: 7;
}

#top_bar a {
  margin:0px 5px 0px 5px;
  padding:5px 7px 5px 7px;
  display:inline-block;
  font-weight:bold;
  z-index: 6;
}

#flash_notice {
  background: #980000;
  border: 2px solid, white;
  text-align: center;
  padding: 5px;
  color: #0C0C0C;
  height: 30px;
  font-size: 20px;

}








.login_position {
  position:absolute;
  right:190px;
  top:50px;
}

.poss {
  position:absolute;
  right:0px;
  top:0px;
}

.avatar_img {
 margin-left: -2px;
 padding: 4px;
 border: 2px solid #A00000;
 border-radius:10px;
 -moz-border-radius: 10px;
}

.top_image {
  width: 100%;
  margin-top:28px;
}


.displayImg { 
  display: block; 
  margin: 5px;
}

.displayHomeImg { 
  background: black;
  border: 2px solid #A00000;
  border-radius:25px;
  -moz-border-radius: 25px;
  width: 900px;
  display: block; 
  margin: 0px auto;
  padding-bottom: 55px;
  padding-top: 10px;
  padding-left: 30px;
  float: center;
}

#homeBox {
  background: #151515;
  border: 5px solid #A00000;
  border-radius:25px;
  -moz-border-radius: 25px;
  padding: 15px;
  width: 950px;
  height: 0px auto;
  color: #A00000;
  margin: 50px auto;
  margin-left: 25px;
  text-align: center;
}

.loginSidebar {
  font-size: 170%;
  font-weight: bold; 
}

.img-with-text {
  text-align: center;
  width: 100px;
}

#cart-item {
  width: 500px;
  height: 40px;
  border: 03px;
  border-color: white;
}


#blog-post {
  width: 780px;
  height: 200px;
  border: 4px solid grey;
  border-radius:10px;
  -moz-border-radius: 15px;
  padding: 1px;
}

