/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* --- Top Bar --- */

#top_bar {

  top: 0px;

  width: 98.8%;
  position: fixed;

  margin:1px auto;
  border-bottom:1px solid #000;
  background:#2D2D2D;
  display:inline-block;
}

#top_bar p {
  margin:3px;
  display:inline-block;
  float:right;
  text-shadow:-1px 1px 1px #000;
}

#top_bar p.left {
  position: relative;
  float: left;
  left: 60px;
}

#top_bar p.right {
  position: relative;
  float: right;
  right: 60px;
}



#top_bar p, #top_bar a {
  font-size:12px;
  color:#fff;
}

#top_bar a {
  margin:0px 5px 0px 5px;
  padding:5px 7px 5px 7px;
  display:inline-block;
  font-weight:bold;
}


  #flash_notice {
    background: black;
    border: 2px solid, white;
    text-align: center;
    padding: 5px;
    color: red;
    height: 25px;
  }

  #sidebar {
  background: black;
  border: 5px solid red;
  border-radius:25px;
  -moz-border-radius:25px; 
  float: right;
  text-shadow: -1px 1px 1px #808080;
  padding: 15px;
  width: 240px;
  height: 190px;
  color: red;
  margin: 2px 2px 2px 2px;
  }

  #mid_component {
  background: black;
  border: 5px solid red;
  border-radius:25px;
  -moz-border-radius: 25px;
  padding: 15px;
  width: 800px;
  height: 2000px;
  color: red;
  margin: 0px auto;
  margin-left: 100px;
  
  }


  .login_position {
    position:absolute;
    right:190px;
    top:50px;
  }

  .poss {
    position:absolute;
    right:0px;
    top:0px;
  }

  .avatar_img {
   position: relative;
   top: -18px;
   padding:5px;
   border:1px solid #f00000;
   border-radius:10px;
   -moz-border-radius: 10px;
   background-color: #4C0080;
}

  .top_image {
    width: 100%;
    margin-top:28px;
}

