.navbar {

  .navbar-inner {
    background: #2d282a;



   .nav li a {
      color: #b52214;
      text-shadow: 0 1px 0 #652e7b;
    }

  }

  .brand {
    color: #830488;
    text-shadow: 0 1px 0 #b52214;
  }
 }

.prod_search {
  margin-bottom: -13px;

  .head-search-form {
    background: #636162;
    color: #b52214;
  text-shadow: 0 1px 0 #652e7b;
  }
}

.btn-black {
  background: #403E3F;
  color: #b52214;
  text-shadow: 0 1px 0 #652e7b;
}
