          <div>
                <div class="span12">
                  <div id="drop-down" >
                    <% Category.all.each do |cat| %>
                      <ul class="name">
                        <%= link_to cat.name, category_path(cat), class: 'name-cat' %>
                      </ul>
                    <% end %>
                  </div>
                </div>
          </div>
