  <div class="span10 offset2">
    <div class="categories">
      <h4>
        <div>Categories:</div>
      </h4>
    </div>
  </div>
  <div class="span10 offset2">
    <div class="category_nav">
      <% @categories.each do |cat| %>
        <div class="span2 offset1">
          <div class="category_list">
            <div class="span12"><%= link_to "> #{cat.name }", category_path(cat) %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="span10 offset2">
    <div class="prod_search">
      <%= render partial: "products/products_search"%>
    </div>
  </div>
  <div class="span12">
    <div id="mid_component">
      <% if @products.present?%>
        <%= render partial: "products/display_products" %>
      <% else %>
        Sorry, there are no products here.
      <% end %>
    </div>
  </div>

