  <div id="search">
    <%= form_tag products_path, :method => :get, remote: true do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search 'Name' or 'Description'", class: "span2 head-search-form form-control", role: "search" %>
        <%= submit_tag "Search", class: "btn btn-black", :name => nil %>
    <% end %>
  </div>
 

