  <div id="search">
    <%= form_tag products_path, :method => :get, remote: true do %>
      <div style="color:red">
        Search by name, or description</br>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </div>
    <% end %>
  </div>
 

