<div id="mid_component">
  <img alt="rss feed" class="aceo-banner" src="/assets/aceo_banner.jpg">
  <h3>ACEO history</h3>

  <p>ACEOs stemmed off of Artist Trading Cards (ATCs), an idea developed by the artist M.Vänçi Stirnemann. He based the size of ATCs on sports trading cards. ATCs can only be traded or given away. Their purpose is to share art and to encourage creative exchange between artists.
Like ATCs, ACEOs may be made with any media, material, or method as long as they measure 2-1/2" x 3-1/2".

ACEOs are made with the intention to sell. The artist Lisa Luree started the ACEO group on eBay in part to make cards available to collectors.</p>
</div>
