<div>

  <div class="span6 offset2">
    <%= render partial: "products/products_search" %>
  </div>
  <div class="span4">

  <div id="category-nav">
    <div class="span12">
      <div id="nav">
    <h5>
      Or by Category
    </h5>
    <div>
      <%= select_tag 'category', options_from_collection_for_select(Category.all, :id, :name), multiple: true, class: "category"%>
    <%= submit_tag "search", class: "category", method: :get%>
  </div>
             
      </div>
    </div>
  </div>
  </div>

  <div class="span12">
    <div id="mid_component">
      <%= render :partial => "products/display_products" %>
    </div>
  </div>
</div>
