
<h1> products/show </h1>
<%= form_tag products_path, :method => :get do %>
  <p>
  <div style="color:red">
    Search for a product by name.</br>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </div>
  </p>
<% end %>
<div id="mid_component">
 <%= render :partial => "products/display_products" %>
</div>
