<div>
  <h1>Products/show</h1>
  <div>
    <%= @product.name %>
    <%= @product.description %>
  </div>
  <div>
    <% @product.paintings.each do |p| %>
      <%= p.title %>
    <% end %>
  </div>
</div>
