<!DOCTYPE html>
<html>
  <head>
    <%= "This is basic BoneDiva Main"%>
  </head>
  <body>


    <div style="color:red">
      <div style="text-align:center">
        <h1>
          <%= "BoneDiva"%>
        </h1>
      </div> 

      <div style="color:black">
        <div style="text-align:center">
          <%= link_to => 'ACEO Web Page', "http://www.aceo.com" %>
        </div>
      </div>

      <div>
        <%= yield :display_about_content %>
      </div>
    
    </body>
</html>
