<div class="row">
  <div class="mid_component">
    <%= render "show_order"%>
    <%= render "orders/shipping_info" %>
    <div class="row">
      <div class="span10 offset2">
        A receipt has been sent to <%= @order.cart.user.email %>
      </div>
    </div>

  </div>
</div>
