<div class="span3">
  <div id="aceo-drop">
    <ul class="aceo-link">
      <li><%= link_to "What are ACEO's?", about_aceo_path %></li>
      <li><%= link_to "ACEO's for sale", aceo_products_path %></li>
    </ul>
  </div>
</div>
